.topbar {
  background-color: #484848;
  width: 100%;
  height: 70px;
}

.wrapper {
  display: flex;
  margin-left: 30px;
}

.menu {
  padding: 10px;
  font-size: 30px;
  color: #15a501;
}
.name {
  padding: 10px;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 1px;
  color: #ffffff;
}
